<html>
<head>
    <title>Amana |  ResetPassword</title>
</head>
<body>
<div>
    <p>Dear {{name}}!</p>
    <p>Your password is <b>{{password}}</b></p>
    <p><a href="{{verifyUserLink}}">Click here to start using our app</a></p>
    <p></p>
    <p>Best Regards</p>
    <p><b>Amana team</b></p>
</div>
</body>
</html>
