<html>
<head>
    <title>Amana |  ResetPassword</title>
</head>
<body>
<div>
    <p>Hi {{name}}!</p>
    <p><a href="{{resetPasswordLink}}">Click here to reset your password</a></p>
    <p></p>
    <p>Best Regards</p>
    <p><b>Amana team</b></p>
</div>
</body>
</html>


