<html>
<head>
    <title>Amana |  ResetPassword</title>
</head>
<body>
<div>
    <h4>Dear {{name}}!</h4>
    <p>Thank you for registration Amana service</p>
    <p>To verify your account, Please click link bellow or copy and paste your browser</p>
    <a href="{{verifyUserLink}}">Click Here </a>
    <p>Thank you</p>
    <p></p>
    <p>Best Regards</p>
    <p><b>Amana team</b></p>
</div>
</body>
</html>
